/*BODY - HTML*/
body {
    margin: 0;
    padding: 0
}

/*LOGIN*/
.login-page {
    background: url('../img/fondo_login.jpg')no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.absolute-center.is-responsive {
    width: 50%;
    height: 70%;
    min-width: 400px;
    max-width: 600px;
}


.IniciarSesion {
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.login-page form label {
    color: #EE9F00;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.login-page form input[type=text],
.login-page form input[type=password] {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #EE9F00;
    color: #fff;
}

    .login-page form input[type=password]::-webkit-input-placeholder,
    .login-page form input[type=text]::-webkit-input-placeholder {
        color: #e5e5e5;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-style: italic;
    }

.login-page form input[type=submit] {
    background: #EE9F00;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

    .login-page form input[type=submit]:hover {
        background: #D68f00;
    }

.login-page form span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.login-page form a {
    color: #EE9F00;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

/*HEADER*/
body header {
    /*border: 2px solid blue;*/
    background: #3C3C3B;
    height: 85px;
    /*z-index:1000;*/
}

header .menu {
    height: 85px;
    padding: 0;
    margin: 0;
}

header .boton-menu {
    background: #EE9F00;
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

header .boton-menu a .icono-menu {
    font-weight: 100;
    font-size: 40px;
    color: #fff;
}

header .logo img {
    height: 70px;
}

header .menu .imagen img {
    border-radius: 100px;
}

header .menu .nombre-usuario {
    min-width: 250px;
    color: #fff;
}











/*--SIDEBAR--*/
#wrapper {
    padding-left: 0px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -330px;
    left: 0px;
    width: 330px;
    background: #3C3C3B;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    overflow: scroll;
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: auto;
}

#wrapper.active {
    padding-left: 330px;
}

#wrapper.active #sidebar-wrapper {
    left: 330px;
}

.barra-lateral .datos-usuario {
    background: url(../img/fondo-datos-usuario.jpg);
    height: 175px;
}

.barra-lateral a {
    color: #fff;
}

.barra-lateral .datos-usuario {
    background: url(../img/fondo-datos-usuario.jpg);
    height: 175px;
}

.barra-lateral .datos-usuario img {
    height: 100px;
    border-radius: 100%;
}


.barra-lateral .datos-usuario h2 {
    padding: 20px 0;
    margin: 0;
}

/*MENU*/

.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1);
   
}

.barra-lateral .menu ul {
    list-style: none;
}

.barra-lateral .menu a:hover {
    background: #35ae6b;
    text-decoration: none;
}

.barra-lateral .menu a i {
    margin-right: 20px;
    font-weight: normal;
}

.barra-lateral .menu ul li:hover .children {
    display: none;
}

.barra-lateral .menu ul li .children {
    display: none;
}

.barra-lateral .menu ul li .children li a {
    padding-left: 40px;
}

.barra-lateral .menu ul li .caret {
    /*position: relative;*/
    top: 3px;
    margin-left: 10px;
    margin-right: 0;
}



.barra-lateral .menu ul {
    padding-left: 0;
}



































/*--CONTENIDO--*/
body .contenido {
    margin-top: 85px;
    display: flex;
    min-height: calc(100vh - 140px);
}


/*--FOOTER--*/
body footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

/*MEDIA QUERYS*/

@media only screen and (max-width: 640px) and (orientation: landscape) {

    .login-page {
        background: url('../img/login-mobile_ho.jpg')no-repeat fixed center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 470px;
        width: 100%;
    }

    .absolute-center {
        margin-top: 15px;
    }

    .formulario-login > div {
        line-height: 1.0;
    }

    .olvidar-ocultar {
        display: none;
    }

    .cuenta-ocultar {
        display: none;
    }
}

@media only screen and (max-width: 450px) and (orientation: portrait) {
    .login-page .mirar-div > div {
        /*border:1px solid red;*/
    }

    .login-page .absolute-center.is-responsive {
        min-width: 360px;
        /*max-width: 600px;*/
        /*background: #808080;*/
    }

    .login-page {
        background: url('../img/login-mobile_ve.jpg')no-repeat fixed center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
        /*border:1px solid blue;*/
    }


    .absolute-center {
        margin-top: 20px;
    }

    .formulario-login > div {
        line-height: 1.1;
    }
}

@media screen and (max-width:800px) {


   
.barra-lateral {
    top: 85px;
    width: 80%;
    position: absolute;
}
  
.barra-lateral .menu a:hover {
    background: #1176b6;
    text-decoration: none;
}

.barra-lateral nav ul {
    width: 100%;
}

.barra-lateral .menu ul li:hover .children {
    display: none;
}

.barra-lateral .menu ul li {
    display: block;
}

}



























/*BORDES Y OTROS DE PRUEBA*/
.mirar-div {
    /*border: 1px solid red;*/
    /*height: 85px;*/
}

    .mirar-div > div {
        /*border: 1px solid red;*/
    }



