
/*LOGIN*/
.login-page {
    background-image: url('../img/fondo_login.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 160px;
}

.IniciarSesion {
    font-size: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.login-page form label {
    color: #EE9F00;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.login-page form input[type=text] {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #EE9F00;
    color:#fff;
}
.login-page form input[type=text]::-webkit-input-placeholder {
    color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    font-style:italic;
}

.login-page form input[type=submit] {
    background: #EE9F00;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.login-page form input[type=submit]:hover{
    background: #D68f00;
}

.login-page form span {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.login-page form a {
    color: #EE9F00;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    padding-top: 70px;
    background: #EDEEEF;
    font-family: 'Roboto', sans-serif;
}

a{
    color: #1176b6;
}

a:hover{
    text-decoration: underline;
}

/*--- HEADER ---*/

body header{
    background: #3C3C3B;
    padding: 10px 0;
}

/* LOGO */
header .logo img{
    padding:0 45px;
    height: 50px;
}
/*IMAGEN PERSONA*/
header .menu .imagen img {
    border-radius: 100px;
}

header .menu a{
    font-size: 16px;
    display: inline-block;
    margin: 0;
    color: #fff;
    padding: 0 5px;
}

header .menu a:hover{
    color: #39cccc;
}


/*---BARRA LATERAL---*/
.main{
 /*border: 1px solid red;*/
}
.barra-lateral {
    background: #3C3C3B;
    color: #fff;
    min-width: 300px;
    min-height: 100vh;
    padding: 0;
}

.barra-lateral a{
    color: #fff;
}

.barra-lateral .datos-usuario{
    background:#808080;
    margin-bottom:2px;
}

.barra-lateral .datos-usuario img{
    width:100%;
    height: 100%;
}

.barra-lateral .datos-usuario h2{
    padding:20px 0;
    margin:0;
}

/*---MENU---*/
.barra-lateral .menu a {
    display: block;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover{
    background: #35ae6b;
    text-decoration: none;
}

.barra-lateral .menu a i{
    margin-right: 20px;
    font-weight: normal;
}
