@{
    ViewBag.Title = "Evento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <a href="#collapse1" data-toggle="collapse" data-parent="#acordion" aria-expended="true" aria-controls="collapse1">
                <h3 class="box-title"><i class="icon-calendar"></i>Registro de Empleados</h3>
            </a>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1">         
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Sede</label>
                            @{ 
                                if (ViewBag.EVENTOS != null)
                                {
                                    <select name="sede" id="sede" class="form-control">
                                        @foreach (var item in ViewBag.EVENTOS)
                                        {
                                        <option value="@item.Id" onchange="">@item.Value</option>
                                        }
                                    </select>
                                }
                            }                          
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Evento</label>
                            <select name="evento" id="evento" class="form-control">
                                <option value="-1">--Seleccionar--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Curso</label>
                            <select name="curso" id="curso" class="form-control">
                                <option value="-1">--Seleccionar--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                        <div class="form-group">
                            <label for="">.</label>
                            <button class="btn-warning boton form-control" onclick="Filtrar()">
                                <i class="fa fa-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>            
        </div>
    </div>
    <div id="calendar" class="calendar-custom mt-2"></div>
    <div id="ModalInscripcion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventTitle"></h5>
                    <button class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid" id="tabs">
                        <div class="row">
                            <div class="col">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="#tabRegistro" class="nav-link active" data-toggle="tab">Registros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#tabInformacion" class="nav-link" data-toggle="tab">Información del Curso</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabRegistro" role="tabpanel">
                                <div class="row contenedor-modal">
                                    <div class="col">
                                        <input type="hidden" name="CursoProgramadoId" id="CursoProgramadoId" value="" />
                                        <form>
                                            <div class="row form-group">
                                                <div class="col-12 col-lg-6">
                                                    <label for="salon">Salón</label>
                                                    <select name="salon" id="salon" class="form-control">
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <label>DNI / Nombres</label>
                                                    <input type="text" name="dni" id="dni" value="" class="form-control" />
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col" id="GrillaEmpleado">
                                                @Html.Partial("_ListaEmpleadosIsncritosPartial")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="InformacionCurso" role="tabpanel">
                                <div>
                                    @Html.Partial("_InformacionCursoPartial")
                                </div>                                
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success">Agendar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />
@section Scripts{

    <script>

        function Filtrar() {
            LoadAgenda();
        }

        function LoadAgenda() {
            var events = [];
            $.ajax({
                type: "GET",
                url: "/Empleado/GetCursosProgramados?cursoId=" + $('#curso').val(),
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            title: v.Curso,
                            description: v.CursoProgramadoId,
                            start: moment(v.FechaInicio),
                            end: v.FechaFin != null ? moment(v.FechaFin) : null,
                            color: v.Color,
                            allDay: true
                        })
                    });
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('Failed');
                }

            }); 
        }

        function GenerateCalender(events) {
            
            $('#calendar').fullCalendar('destroy');
            $('#calendar').fullCalendar({
                lang: 'es',
                contentHeight: 600,
                defaultDate: new Date(),
                timeFormat: 'h(:mm)a',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay,agenda'
                },
                eventLimit: true,
                eventColor: '#378006',
                events: events,
                eventClick: function (calEvent, jsEvent, view) {      
                    loadSalon();
                    $('#ModalInscripcion #eventTitle').text("Inscribir al Curso de: " + calEvent.title );
                    $('#CursoProgramadoId').val(calEvent.description);  
                    $('#ModalInscripcion').modal();
                }
            });
        }       

        function loadEvento() {      
           
            $.ajax(
                {
                    url: '/Empleado/GetEvento?sedeId=' + $('#sede').val(),
                    type: 'GET',
                    success: function (json) {
                        var listItems = '';
                        var $select = $('#evento');
                        $select.find('option').remove();
                        for (var i = 0; i < json.length; i++) {
                            listItems += "<option value='" + json[i].Id + "'>" + json[i].Value + "</option>";
                        }
                        $select.html(listItems);
                        loadCurso();    
                        clearddl();
                    },
                    error: function () {
                        alert('Error');
                    }
                })
        }

        function loadCurso() {
            $.ajax(
                {
                    url: '/Empleado/GetCurso?eventoId=' + $('#evento').val(),
                    type: 'GET',
                    success: function (json) {
                        var listItems = '';
                        var $select = $('#curso');
                        $select.find('option').remove();
                        for (var i = 0; i < json.length; i++) {
                            listItems += "<option value='" + json[i].Id + "'>" + json[i].Value + "</option>";
                        }
                        $select.html(listItems);
                        clearddl();
                    },
                    error: function () {
                        alert('Error');
                    }
                })
        }

        function loadSalon() {
            $.ajax(
                {
                    url: '/Empleado/GetSalon?cursoProgramadoId=' + $('#curso').val(),
                    type: 'GET',
                    success: function (json) {
                        var listItems = '';
                        var $select = $('#salon');
                        $select.find('option').remove();
                        for (var i = 0; i < json.length; i++) {
                            listItems += "<option value='" + json[i].Id + "'>" + json[i].Value + "</option>";
                        }
                        $select.html(listItems);
                        loadEmpleados();
                    },
                    error: function () {
                        alert('Error');
                    }
                })
        }

        function loadEmpleados() {
            $.ajax(
                {
                    url: '/Empleado/EmpleadosInscritos?salonProgramadoId=' + $('#salon').val(),
                    type: 'GET',
                    success: function (html) {
                        $('#GrillaEmpleado').html(html);
                    },
                    error: function () {
                        alert('error');
                    }
                })
        }

        function clearddl(){
            $('#curso').val('-1');
            LoadAgenda();
        }

        $(document).ready(function () {           
            LoadAgenda();
            $('#sede').on('change', loadEvento);
            $('#evento').on('change', loadCurso);
            $('#salon').on('change', loadEmpleados);            
            $('#curso').on('change', LoadAgenda);
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target).attr("href") // activated tab
                if (target == '#tabInformacion') {
                    $.ajax({
                        url: 'Empleado/InformacionCurso?salonProgramadoId=' + $('#salon').val(),
                        type: 'GET',
                        success: function (html) {
                            $('#InformacionCurso').html(html);
                        },
                        error: function () {
                            alert('error');
                        }
                    })
                }
            });
        });
    </script>
}
