<style>
    #Loading {
        background-color: rgba(0, 0, 0, 0.60);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 9999;
    }

        #Loading > img {
            width: 200px;
        }
    .pagination-active span {
        color: #f39c12 !important;
    }
</style>
<div class="container-fluid">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarFiltro('collapse1')"><i class="icon-calendar"></i> Banjeda de Usuarios</h3>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                    <div class="form-group">
                        <label for="">Nombre Usuario</label>
                        <input type="text" id="NombreUsuario" name="NombreUsuario" class="form-control" maxlength="150" placeholder="Ingrese Nombre de Usuario" />
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                    <div class="form-group">
                        <label for="">Nombre Persona</label>
                        <input type="text" id="NombrePersona" name="NombrePersona" class="form-control" maxlength="150" placeholder="Ingrese Nombre de Persona" />
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                    <div class="form-group">
                        <label for=""></label>
                        <button class="btn-warning boton form-control" onclick="FiltrarUsuarios(1)" style="cursor:pointer;">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="RenderBandejaUsuarios">
        @Html.Partial("_BandejaUsuariosPartial")
    </div>
    <nav class="d-flex justify-content-end align-items-center flex-wrap">
        @*<div>
            <button class="btn-success boton form-control" onclick="ExportExcel()" style="cursor:pointer;">
                <i class="fa fa-search"></i> Exportar a Excel
            </button>
        </div>*@
        <div>
            <button class="btn-warning boton form-control" onclick="location.href='@Url.Action("CrearUsuario","Acceso")'" style="cursor:pointer;margin-bottom:20px;">
                <i class="fa fa-search"></i> Nuevo Usuario
            </button>
        </div>
    </nav>
</div>

<div class="alert" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span></span>
</div>

<div id="Loading" style="display:none;">
    <img src="~/Content/icons/loading.gif" />
</div>

<script>
    function ColapsarFiltro(id) {
        setTimeout(function () {
            var height = 10;

            for (i = 0; i < $("#" + id + " .row").length; i++) {
                height = height + $($("#" + id + " .row")[i]).height();
            }

            if ($("#" + id).height() == 0) {
                $("#" + id).animate({ "height": height + "px", "padding": "10px" }, 400);
            } else {
                $("#" + id).animate({ "height": "0px", "padding": "0px 10px" }, 400);
            }
        }, 200);
    }

    function ColapsarTabla(id) {
        var Altura = $("#TablaAExportar").height() + 60;

        if ($("." + id).height() == 0) {
            $("." + id).animate({ "height": Altura + "px" }, 400);
        } else {
            alturaTabla = $("." + id).height();
            $("." + id).animate({ "height": "0px" }, 400);
        }
    }

    function DeleteUser(id) {
        var width = $(window).width();
        var height = $(window).height();
        $("#Loading").show().css("width", width + "px").css("height", height + "px");
        $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            data: { id: id },
            url: '/Acceso/DeleteUser',
            success: function (json) {
                $("#Loading").hide();
                if (json) {
                    alerta("Usuario eliminado!", "verde");
                    FiltrarUsuarios(1);
                } else {
                    alerta("No se pudo eliminar el usuario","rojo");
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $("#Loading").hide();
                console.log(error);
            }
        });
    }

    function FiltrarUsuarios(index) {
        data = {
            NombreUsuario: $("#NombreUsuario").val(),
            NombrePersona: $("#NombrePersona").val(),
            Index: index,
            Take: $("#take").val()
        };

        var width = $(window).width();
        var height = $(window).height();
        $("#Loading").show().css("width", width + "px").css("height", height + "px");
        $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            data: data,
            url: '/Acceso/FiltrarUsuario',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#Loading").hide();
                    $("#RenderBandejaUsuarios").html(html);
                } else {
                    location.href = "/";
                }
                
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $("#Loading").hide();
                console.log(error);
            }
        });
    }

    function ExportExcel() {
        data = {
            NombreUsuario: $("#NombreUsuario").val(),
            NombrePersona: $("#NombrePersona").val()
        };

        var width = $(window).width();
        var height = $(window).height();
        $("#Loading").show().css("width", width + "px").css("height", height + "px");
        $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

        $.ajax({
            cache: false,
            method: 'POST',
            data: data,
            url: '/Acceso/CrearExcel',
            success: function (response) {
                $("#Loading").hide();
                var base64 = JSON.parse(response);
                var binaryString = window.atob(base64._buffer);

                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                    var ascii = binaryString.charCodeAt(i);
                    bytes[i] = ascii;
                }
                var d = new Date();
                var fileName = "Listado Usuarios " + d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear() + ".xlsx";
                var blob = new Blob([bytes], { type: 'application/vnd.ms-excel' });

                if (window.navigator.msSaveOrOpenBlob)      // If Internet Explorer
                {

                    window.navigator.msSaveOrOpenBlob(blob, fileName);

                } else if (window.navigator.userAgent.indexOf("Firefox") > 0) {

                    var url = window.URL.createObjectURL(blob);

                    var anchorElem = document.createElement("a");
                    anchorElem.style = "display: none";
                    anchorElem.href = url;
                    anchorElem.download = fileName;

                    document.body.appendChild(anchorElem);
                    anchorElem.click();

                    document.body.removeChild(anchorElem);

                    // On Edge, revokeObjectURL should be called only after
                    // a.click() has completed, atleast on EdgeHTML 15.15048
                    setTimeout(function () {
                        window.URL.revokeObjectURL(url);
                    }, 1000);

                } else { // tested on chrome and Opera
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = fileName;
                    link.click();
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $("#Loading").hide();
                console.log(error);
            }
        });
    }
</script>