<div class="container-fluid">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarFiltro('collapse1')"><i class="icon-calendar"></i> Banjeda de Usuarios</h3>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Nombre Usuario</label>
                            <input type="text" id="NombreUsuario" name="NombreUsuario" class="form-control" maxlength="150" placeholder="Ingrese Nombre de Usuario" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-3 col-xl-3">
                        <div class="form-group">
                            <label for="">Nombre Persona</label>
                            <input type="text" id="NombrePersona" name="NombrePersona" class="form-control" maxlength="150" placeholder="Ingrese Nombre de Persona" />
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                        <div class="form-group">
                            <label for=""></label>
                            <button class="btn-info boton form-control" onclick="FiltrarUsuarios()">
                                <i class="fa fa-search"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="RenderBandejaUsuarios">
        @Html.Partial("_BandejaUsuariosPartial")
    </div>

    <nav class="d-flex justify-content-end align-items-center flex-wrap">

        <div>
            <button class="btn-success boton form-control" onclick="location.href='@Url.Action("CrearUsuario","Acceso")'">
                    <i class="fa fa-search"></i> Nuevo Usuario
            </button>
        </div>
    </nav>
</div>

<script>
    function ColapsarFiltro(id) {
        if ($("#" + id).height() == 0) {
            $("#" + id).animate({ "height": "100px", "padding":"10px" }, 400);
        } else {
            $("#" + id).animate({ "height": "0px", "padding":"0px 10px" }, 400);
        }
    }

    function DeleteUser(id) {
        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            data: { id: id },
            url: '/Acceso/DeleteUser',
            success: function (json) {
                if (json) {
                    FiltrarUsuarios();
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function FiltrarUsuarios() {
        data = {
            NombreUsuario: $("#NombreUsuario").val(),
            NombrePersona: $("#NombrePersona").val(),
            Index: 1,
            Take: 10
        };

        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            data: data,
            url: '/Acceso/FiltrarUsuario',
            success: function (html) {
                $("#RenderBandejaUsuarios").html(html);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>