<style>
    .Titulo {
        font-weight: bolder;
        font-size: 20px;
        margin-top: 80px;
    }

    .SubTitulo {
        margin-top: 20px;
    }

    select {
        width: 186px;
        height: 28px;
    }

    .IconoMas {
        cursor: pointer;
        width: 25px;
    }

    .botonera > div {
        display: inline-block;
        margin-top: 80px;
        margin-left: 30px;
    }

        .botonera > div > input {
            width: 150px;
            height: 38px;
            cursor: pointer;
        }

    #Loading {
        background-color: rgba(0, 0, 0, 0.60);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 9999;
    }

        #Loading > img {
            width: 200px;
        }

    #Accordion-Container {
        overflow: hidden;
        height: 0px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 offset-2">
            <div class="row">
                <div class="col-12 Titulo">Datos de Persona</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Nombre: </div>
                    <div><input type="text" id="RegisterName" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Apellido: </div>
                    <div><input type="text" id="RegisterLastName" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">DNI: </div>
                    <div><input type="text" id="RegisterDNI" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Género: </div>
                    <div>
                        @{
                            if (ViewBag.Genero != null)
                            {
                                <select id="RegisterGender">
                                    @foreach (var G in ViewBag.Genero)
                                    {
                                        <option value="@G.ParametroId">@G.Valor1</option>
                                    }
                                </select>
                                <img src="~/Content/icons/icon-SignoMas-Naranja.png" class="IconoMas" onclick="AddAccordion('Gender')" />
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Rol: </div>
                    <div>
                        @{
                            if (ViewBag.Roles != null)
                            {
                                <select id="RegisterRol">
                                    @foreach (var R in ViewBag.Roles)
                                    {
                                        <option value="@R.ParametroId">@R.Valor1</option>
                                    }
                                </select>
                                <img src="~/Content/icons/icon-SignoMas-Naranja.png" class="IconoMas" onclick="AddAccordion('Rol')" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 offset-2">
            <div class="row">
                <div class="col-12 Titulo">Datos de Usuario</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Usuario: </div>
                    <div><input type="text" id="RegisterUser" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Contraseña: </div>
                    <div><input type="password" id="RegisterPassword" /></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="SubTitulo">Confirmar Contraseña: </div>
                    <div><input type="password" id="RegisterRepeatPassword" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" id="Accordion-Container"></div>
    </div>
    <div class="row">
        <div class="col-12 text-center botonera">
            <div><input type="button" value="Aceptar" onclick="Aceptar()" /></div>
            <div><input type="button" value="Cancelar" onclick="Cancelar()" /></div>
        </div>
    </div>
</div>

<div id="Loading" style="display:none;">
    <img src="~/Content/icons/loading.gif" />
</div>

<script>
    function Aceptar() {
        alert("Aceptar");
    }

    function Cancelar() {
        alert("Cancelar");
    }
    function AddAccordion(data) {
        var width = $(window).width();
        var height = $(window).height();

        $("#Loading").show().css("width", width + "px").css("height", height + "px");
        $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            url: '/Acceso/GetAccordion?data=' + data,
            success: function (html) {
                $("#Accordion-Container").html(html);
                $("#Loading").hide();
                updateAccordionHeight();
            },
            error: function (error) {
                $("#Loading").hide();
                console.log(error);
            }
        });
    }

    function updateAccordionHeight() {
        $("#Accordion-Container").animate({
            height: $("#Accordion-Container > .row").height() + "px"
        }, 800);
    }
</script>