<style>
    .boton-chart {
        border-color: #d2d6de;
        height: 38px;
        padding: 0.375rem 0.75rem;
        color: white;
        cursor: pointer;
        outline:none;
        margin:10px;
    }
    .button-inactive{
        background-color: #8f8f8f;
    }
    .button-active{
        background-color: #efb44a;
    }

    .pagination-active span{
        color:#f39c12 !important;
    }

    #containers img,#containers div{
        width:100%;
    }

    .headerOnTop {
        text-align: center;
        border-left: 2px solid #dee2e6;
        border-right: 2px solid #dee2e6;
    }
</style>
<div class="container-fluid">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarFiltro('collapse1')"><i class="icon-menu"></i> Reporte Múltiple </h3>
        </div>
        <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Sede</label>
                        @if (ViewBag.SEDES != null)
                        {
                            <select name="sede" id="sede" class="form-control" onchange="ChangeSelect(this)">
                                @foreach (var item in ViewBag.SEDES)
                                {
                                    <option value="@item.Id">@item.Value</option>
                                }
                            </select>
                        }
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Evento</label>
                        <select name="evento" id="evento" class="form-control" onchange="ChangeSelect(this)">
                            <option value="-1">--Todos--</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Curso</label>
                        <select name="curso" id="curso" class="form-control">
                            <option value="-1">--Todos--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" id="Nombre" name="Nombre" class="form-control" maxlength="150" placeholder="Ingrese Nombre" />
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label for="">DNI</label>
                        <input type="text" id="DNI" name="DNI" class="form-control" maxlength="150" placeholder="Ingrese DNI" />
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-lg-2 col-xl-2">
                    <div class="form-group">
                        <label for=""></label>
                        <button class="btn-warning boton form-control" onclick="FiltrarUsuarios(1)">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="RenderBandejaReporteMultiple">
        @Html.Partial("_ReporteMultiplePartial")
    </div>
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarFiltro('collapse2')"><i class="icon-chart-bar"></i> Charts </h3>
        </div>
        <div id="collapse2" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
            <div class="row">
                <nav class="d-flex justify-content-center flex-wrap">
                    <div>
                        <button class="button-inactive boton-chart" onclick="activateChartButton(this,'Asistencia')">
                            <i class="fa fa-search"></i> Asistencia
                        </button>
                        <button class="button-inactive boton-chart" onclick="activateChartButton(this,'Aprobados')">
                            <i class="fa fa-search"></i> Aprobados
                        </button>
                        <button class="button-inactive boton-chart" onclick="activateChartButton(this,'Promedios')">
                            <i class="fa fa-search"></i> Promedios
                        </button>
                    </div>
                </nav>
            </div>
            <div class="row" id="containers"></div>
        </div>
    </div>
    <div>
        <nav class="d-flex justify-content-end flex-wrap">
            <div>
                <button class="btn-success boton form-control" onclick="ExportarExcel()">
                    <i class="fa fa-search"></i> Exportar a Excel
                </button>
            </div>
        </nav>
    </div>
</div>


<script>
    var alturaTabla;
    function ColapsarFiltro(id) {
        setTimeout(function () {
            var height = 10;

            for (i = 0; i < $("#" + id + " .row").length; i++) {
                height = height + $($("#" + id + " .row")[i]).height();
            }

            if ($("#" + id).height() == 0) {
                $("#" + id).animate({ "height": height + "px", "padding": "10px" }, 400);
            } else {
                $("#" + id).animate({ "height": "0px", "padding": "0px 10px" }, 400);
            }
        }, 200);
    }

    function ColapsarTabla(id) {
        if ($("." + id).height() == 0) {
            $("." + id).animate({ "height": alturaTabla +"px" }, 400);
        } else {
            alturaTabla = $("." + id).height();
            $("." + id).animate({ "height": "0px" }, 400);
        }
    }

    function ChangeSelect(combo) {
        if ($(combo).val() == -1) {
            switch ($(combo).attr("id")) {
                case "sede": {
                    $("#evento").val(-1);
                    $("#curso").val(-1);
                    break;
                }
                case "evento": {
                    $("#curso").val(-1);
                    break;
                }
            }
        } else {
            GetComboData($(combo).attr("id"),$(combo).val());
        }
    }

    function GetComboData(nombre,valor) {
        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            data: { combo: nombre ,valor:valor},
            url: '/ReporteAcademico/GetComboData',
            success: function (json) {
                switch (nombre) {
                    case "sede": {
                        $("#evento").html("");
                        if (json.length > 0) {
                            for (var a = 0; a < json.length; a++) {
                                $("#evento").append($('<option>', {
                                    value: json[a].Id,
                                    text: json[a].Value
                                }));
                            }
                        } else {
                            $("#evento").append($('<option>', {
                                value: -1,
                                text: "--Todos--"
                            }));
                        }
                        $("#curso").val(-1);
                        break;
                    }
                    case "evento": {
                        $("#curso").html("");
                        if (json.length > 0) {
                            for (var a = 0; a < json.length; a++) {
                                $("#curso").append($('<option>', {
                                    value: json[a].Id,
                                    text: json[a].Value
                                }));
                            }
                        } else {
                            $("#curso").append($('<option>', {
                                value: -1,
                                text: "--Todos--"
                            }));
                        }
                        break;
                    }
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function FiltrarUsuarios(index) {
        data = {
            SedeId: $("#sede").val(),
            EventoId: $("#evento").val(),
            CursoId: $("#curso").val(),
            NombreEmpleado: $("#Nombre").val(),
            DNIEmpleado: $("#DNI").val(),
            Index: index,
            Take: $("#take").val()
        };

        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            data: data,
            url: '/ReporteMultiple/FiltrarReporteMultiple',
            success: function (html) {
                $("#RenderBandejaReporteMultiple").html(html);
                $("#containers").html("");
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function activateChartButton(Button, Action) {
        if ($(Button).hasClass("button-active")) {
            $(Button).removeClass("button-active").addClass("button-inactive");
            CloseChart(Action);
        } else {
            if ($("#TablaAExportar tbody tr").length > 0) {
                $(Button).removeClass("button-inactive").addClass("button-active");
                OpenChart(Action);
            }
            else{
                alert("Debe haber al menos un registro");
            }
        }
    }

    function OpenChart(Action) {
        data = {
            SedeId: $("#sede").val(),
            EventoId: $("#evento").val(),
            CursoId: $("#curso").val(),
            NombreEmpleado: $("#Nombre").val(),
            DNIEmpleado: $("#DNI").val(),
            Action: Action
        };

        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            data: data,
            url: '/ReporteMultiple/Chart',
            success: function (json) {
                var div = "<div class=\"col-12 col-sm-6\" id=\"container-" + Action + "\"><img/></div>";
                $("#collapse2 #containers").append(div);
                $("#container-" + Action + " img").attr("src", "data:img;base64," + json);

                setTimeout(function () {
                    var height = 10;

                    for (i = 0; i < $("#collapse2 .row").length; i++) {
                        height = height + $($("#collapse2 .row")[i]).height();
                    }

                    $("#collapse2").animate({ "height": height + "px", "padding": "10px" }, 400);
                }, 200);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function CloseChart(Action) {
        $("#container-" + Action).remove();

        setTimeout(function () {
            var height = 10;

            for (i = 0; i < $("#collapse2 .row").length; i++) {
                height = height + $($("#collapse2 .row")[i]).height();
            }

            $("#collapse2").animate({ "height": height + "px", "padding": "10px" }, 400);
        }, 200);
    }

    function ExportarExcel() {
        if ($("#TablaAExportar tbody tr").length > 0) {

            var charts = new Array();
            
            for (i = 0; i < $("#collapse2 .button-active").length; i++) {
                charts.push($($("#collapse2 .button-active")[i]).html().split("</i>")[1].trim());
            }

            data = {
                SedeId: $("#sede").val(),
                EventoId: $("#evento").val(),
                CursoId: $("#curso").val(),
                NombreEmpleado: $("#Nombre").val(),
                DNIEmpleado: $("#DNI").val(),
                charts: charts
            };

            $.ajax({
                cache: false,
                method: 'POST',
                data: data,
                url: '/ReporteMultiple/CrearExcel',
                success: function (response) {
                    var base64 = JSON.parse(response);
                    var binaryString = window.atob(base64._buffer);

                    var binaryLen = binaryString.length;
                    var bytes = new Uint8Array(binaryLen);
                    for (var i = 0; i < binaryLen; i++) {
                        var ascii = binaryString.charCodeAt(i);
                        bytes[i] = ascii;
                    }
                    var d = new Date();
                    var fileName = "Reporte Multiple " + d.getDate() + "-" + d.getMonth() + "-" + d.getFullYear() + ".xlsx";
                    var blob = new Blob([bytes], { type: 'application/vnd.ms-excel' });

                    if (window.navigator.msSaveOrOpenBlob)      // If Internet Explorer
                    {

                        window.navigator.msSaveOrOpenBlob(blob, fileName);

                    } else if (window.navigator.userAgent.indexOf("Firefox") > 0) {

                        var url = window.URL.createObjectURL(blob);

                        var anchorElem = document.createElement("a");
                        anchorElem.style = "display: none";
                        anchorElem.href = url;
                        anchorElem.download = fileName;

                        document.body.appendChild(anchorElem);
                        anchorElem.click();

                        document.body.removeChild(anchorElem);

                        // On Edge, revokeObjectURL should be called only after
                        // a.click() has completed, atleast on EdgeHTML 15.15048
                        setTimeout(function () {
                            window.URL.revokeObjectURL(url);
                        }, 1000);

                    } else { // tested on chrome and Opera
                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = fileName;
                        link.click();
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        } else {
            alert("Debe haber al menos un registro");
        }
    }
</script>