@(Layout = null)

@{
    string Titulo = "";
    switch (ViewBag.Accordion)
    {
        case "Gender":
            Titulo = "Género";
            break;
        case "Rol":
            Titulo = "Rol";
            <script>
                $(document).ready(function () { getTree(0); });
            </script>
            break;
    }
}
<style>
    .Accordion-Border {
        border: 2px solid black;
        margin-top: 50px;
    }

    .Accordion-Title {
        padding-left: 100px;
        font-weight: bolder;
        font-size: 30px;
        cursor: pointer;
        margin: 20px 0px;
    }

    .Accordion-Button > div {
        display: inline-block;
        margin: 30px 0px;
        margin-left: 30px;
    }

        .Accordion-Button > div > input {
            width: 150px;
            height: 38px;
            cursor: pointer;
        }
</style>

<div class="row">
    <div class="col-12 Accordion-Border">
        <div class="row">
            <div class="col-12 Accordion-Title" onclick="HideAccordion()">Agregar @Titulo</div>
        </div>
        <div class="row">
            @{
                switch (ViewBag.Accordion)
                {
                    case "Gender":
                        <div class="col-12 Accordion-Content">
                            <div class="Accordion-SubTitle">Nombre del Género: </div>
                            <div><input type="text" id="Accordion-Gender" /></div>
                        </div>
                        break;
                    case "Rol":
                        <div class="col-12 Accordion-Content">
                            <div class="row">
                                <div class="col-12">
                                    <div class="Accordion-SubTitle">Nombre del Rol: </div>
                                    <div><input type="text" id="Accordion-Rol" /></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="tree"></div>
                                </div>
                            </div>
                        </div>
                        break;
                }
            }
        </div>
        <div class="row">
            <div class="col-12 Accordion-Button">
                <div><input type="button" value="Agregar" onclick="AccordionAdd('@ViewBag.Accordion')" /></div>
                <div><input type="button" value="Cerrar" onclick="HideAccordion()" /></div>
            </div>
        </div>
    </div>
</div>

<script>
    function HideAccordion() {
        $("#Accordion-Container").animate({
            height: "0px"
        }, 800);
    }

    function getTree(data) {
        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            url: '/Home/GetTreeData?data=' + data,
            success: function (json) {
                $('#tree').treeview({
                    data: json,
                    multiSelect: true,
                    showCheckbox: true
                });

                $("#Accordion-Container").animate({
                    height: $("#Accordion-Container > .row").height() + "px"
                }, 800);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function AccordionAdd(type) {
        var data;
        var url;
        if (type == "Gender") {
            data = {
                input: $("#Accordion-Gender").val()
            };
            url = "/Home/AddNewGender";
        }
        
        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            url: url,
            data: data,
            success: function (json) {
                if (type == "Gender") {
                    $('#RegisterGender').append($('<option>', {
                        value: json.Id,
                        text: json.Descripcion
                    }));
                    HideAccordion();
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
