@(Layout = null)

@{
    string Titulo = "";
    switch (ViewBag.Accordion)
    {
        case "Gender":
            Titulo = "Género";
            break;
        case "Rol":
            Titulo = "Rol";
            <script>
                $(document).ready(function () { getTree(0); });
            </script>
            break;
    }
}
<style>
    .Accordion-Border {
        border: 2px solid black;
        margin-top: 50px;
    }

    .Accordion-Title {
        padding-left: 100px;
        font-weight: bolder;
        font-size: 30px;
        cursor: pointer;
        margin: 20px 0px;
    }

    .Accordion-Button > div {
        display: inline-block;
        margin: 30px 0px;
        margin-left: 30px;
    }

        .Accordion-Button > div > input {
            width: 150px;
            height: 38px;
            cursor: pointer;
        }
</style>

<div class="row">
    <div class="col-12 Accordion-Border">
        <div class="row">
            <div class="col-12 Accordion-Title" onclick="HideAccordion()">Agregar @Titulo</div>
        </div>
        <div class="row">
            @{
                switch (ViewBag.Accordion)
                {
                    case "Gender":
                        <div class="col-12 Accordion-Content">
                            <div class="Accordion-SubTitle">Nombre del Género: </div>
                            <div><input type="text" id="Accordion-Gender" /></div>
                        </div>
                        break;
                    case "Rol":
                        <div class="col-12 Accordion-Content">
                            <div class="row">
                                <div class="col-6">
                                    <div class="Accordion-SubTitle">Nombre del Rol: </div>
                                    <div><input type="text" id="Accordion-Rol" /></div>
                                </div>
                                <div class="col-6">
                                    <div class="Accordion-SubTitle">Copiar de: </div>
                                    <div>
                                        <select id="Accordion-Rol-Copia"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="tree"></div>
                                </div>
                            </div>
                        </div>
                        break;
                }
            }
        </div>
        <div class="row">
            <div class="col-12 Accordion-Button">
                <div><input type="button" value="Agregar" onclick="AccordionAdd('@ViewBag.Accordion')" /></div>
                <div><input type="button" value="Cerrar" onclick="HideAccordion()" /></div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#Accordion-Rol-Copia").append($('<option>', {
        value: "0",
        text: "Seleccione"
    })).append($("#UserRol").html()).change(function () {
        getTree($("#Accordion-Rol-Copia").val());
    });

    function HideAccordion() {
        $("#Accordion-Container").animate({
            height: "0px"
        }, 800);
    }

    function getTree(data) {
        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            url: '/Acceso/GetTreeData?data=' + data,
            success: function (json) {
                $('#tree').treeview({
                    data: json,
                    multiSelect: true,
                    showCheckbox: true,
                    checkedIcon: 'icon-check',
                    uncheckedIcon: 'icon-check-empty',
                    collapseIcon: 'icon-minus',
                    expandIcon: 'icon-plus'
                });

                $('#tree').on('nodeCollapsed', function (event, data) {
                    updateAccordionHeight();
                });

                $('#tree').on('nodeExpanded', function (event, data) {
                    updateAccordionHeight();
                });

                $('#tree').on('nodeChecked', function (event, data) {
                    if (data.nodes != null && data.nodes.length > 0) {
                        for (a = 0; a < data.nodes.length; a++) {
                            $('#tree').treeview('checkNode', [data.nodes[a].nodeId, { silent: true }]);
                        }
                    }

                    if (data.parentId != undefined) {
                        $('#tree').treeview('checkNode', [data.parentId, { silent: true }]);
                    }
                });

                $('#tree').on('nodeUnchecked', function (event, data) {
                    if (data.nodes != null && data.nodes.length > 0) {
                        for (a = 0; a < data.nodes.length; a++) {
                            $('#tree').treeview('uncheckNode', [data.nodes[a].nodeId, { silent: true }]);
                        }
                    }

                    if (data.parentId != undefined) {
                        var node = $('#tree').treeview('getNode', data.parentId);
                        var HaveSelected = false;

                        if (node.nodes != null && node.nodes.length > 0) {
                            for (a = 0; a < node.nodes.length; a++) {
                                if (node.nodes[a].state.checked)
                                    HaveSelected = true;
                            }
                        }

                        if (!HaveSelected)
                            $('#tree').treeview('uncheckNode', [data.parentId, { silent: true }]);
                    }
                });

                updateAccordionHeight();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function AccordionAdd(type) {
        var width = $(window).width();
        var height = $(window).height();

        $("#Loading").show().css("width", width + "px").css("height", height + "px");
        $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");

        var data;
        var url;
        if (type == "Gender") {
            data = {
                input: $("#Accordion-Gender").val()
            };
            url = "/Acceso/AddNewGender";
        } else if (type == "Rol") {
            data = {
                input: $("#Accordion-Rol").val(),
                tree: JSON.stringify($('#tree').treeview('getChecked'))
            };
            url = "/Acceso/AddNewRol";
        }

        $.ajax({
            cache: false,
            dataType: 'json',
            method: 'POST',
            url: url,
            data: data,
            success: function (json) {
                $("#Loading").hide();
                if (type == "Gender") {
                    $('#PersonaGenero').append($('<option>', {
                        value: json.ParametroId,
                        text: json.Valor1
                    }));
                    HideAccordion();
                } else if (type == "Rol") {
                    $('#UserRol').append($('<option>', {
                        value: json.ParametroId,
                        text: json.Valor1
                    }));
                    HideAccordion();
                }
            },
            error: function (error) {
                $("#Loading").hide();
                console.log(error);
            }
        });
    }
</script>
