
<header class="fixed-top">
    <div class="row  align-items-center">
        <div class="col-auto columna ml-3">
            <a href="#" class="bt-menu"><span class="icon-menu icono-menu"></span></a>
        </div>

        <div class="col logo d-none d-md-block">
            <a href="http://alphabusinessc.com/">
                <img src="~/Content/img/logoHeader.png" />
            </a>
        </div>

        <nav class="col menu d-flex col-auto align-items-center ">
            <a href="#" class="imagen"><img src="../Content/img/persona3.jpg" width="35" height="35" alt="" /></a>
            <a href="#" class="NombreUsuario">(@ViewBag.USUARIO.Rol) @ViewBag.USUARIO.NombreCompleto</a>
        </nav>

    </div>
</header>
