
<div class="container-fluid ">
    <div class="row contenedor-modal mt-2">
        <div class="col-6">         
            <div class="row datos-capacitador d-flex justify-content-around align-items-center">
                <div class="col-auto">
                    <div class="foto">
                        <img src="~/Content/img/persona1.jpg" />
                    </div>
                </div>
                <div class="col datos mt-2">
                    <p><strong>Capacitador:</strong> Jorge Cruz Garcia</p>
                    <p><strong>Especialidad:</strong> Riesgos Mineros</p>
                </div>
            </div>
            <div class="text-left titulo mt-2">
                <strong>Experiencia Profesional</strong>
            </div>            
            <div class="row mt-2">
                <div class="col">
                    <strong>Febrero de 2006 a enero de 2012</strong>
                    <p>Especialista en capacitación y desarrollo en GLS Company.</p>
                    <strong>Marzo de 2012 a la actualidad</strong>
                    <p>Especialista en capacitación y desarrollo.</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row datos-curso d-flex justify-content-around align-items-center">
                <div class="col datos mt-2">
                    <p><strong>Cupos Disponibles:</strong> 20</p>
                    <p><strong>Cupos Totales:</strong> 40</p>
                </div>
            </div>
            <div class="text-left titulo mt-2">
                <strong>Horario de Clases</strong>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p><strong>Clase 1:</strong> 12-Feb 09:00 / 13:00</p>
                    <p><strong>Clase 2:</strong> 13-Feb 09:00 / 13:00</p>
                </div>
            </div>
               
            </div>
        </div>
</div>