
<div class="container-fluid ">
    <div class="row contenedor-modal mt-2">
        <div class="col-6">         
            <div class="row datos-capacitador d-flex justify-content-around align-items-center">
                <div class="col-auto">
                    <div class="foto">
                        <img src="~/Content/img/persona1.jpg" />
                    </div>
                </div>
                <div class="col datos mt-2">
                    <p><strong>Capacitador:</strong> @(ViewBag.INFORMACIONCURSO == null ? "": ViewBag.INFORMACIONCURSO.NombreCapacitador)</p>
                    <p><strong>Especialidad:</strong>  @(ViewBag.INFORMACIONCURSO == null ? "" : ViewBag.INFORMACIONCURSO.EspecialidadCapacitador)</p>
                </div>
            </div>
            <div class="text-left titulo mt-2">
                <strong>Experiencia Profesional</strong>
            </div>            
            <div class="row mt-2">
                <div class="col">
                    @{
                        if (ViewBag.INFORMACIONCURSO != null)
                        {
                            HtmlString msg = new HtmlString(ViewBag.INFORMACIONCURSO.ExperienciaCapacitador);
                            @msg;
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row datos-curso d-flex justify-content-around align-items-center">
                <div class="col datos mt-2">
                    <p><strong>Cupos Disponibles:</strong>  @(ViewBag.INFORMACIONCURSO == null ? "" : ViewBag.INFORMACIONCURSO.CuposDisponibles)</p>
                    <p><strong>Cupos Totales:</strong> @(ViewBag.INFORMACIONCURSO == null ? "" : ViewBag.INFORMACIONCURSO.CuposTotales)</p>
                    
                </div>
            </div>
            <div class="text-left titulo mt-2">
                <strong>Horario de Clases</strong>
            </div>
            <div class="row mt-2">
                <div class="col">
                    @{ 
                        if (ViewBag.INFORMACIONCURSO != null)
                        {
                            int count = 1;
                            foreach (var item in ViewBag.INFORMACIONCURSO.ClasesProgramadas)
                            {
                                var fecha = item.FechaInicioClase.ToString("dd. MM");
                                var HInicio = item.FechaInicioClase.ToString("HH:mm");
                                var HFinal = item.FechafinClase.ToString("HH:mm");
                                <p><strong>Clase @count: </strong> @fecha <strong>Horario: </strong> @HInicio - @HFinal </p>
                                count += 1;
                            }
                        }
                    }

                    @*<p><strong>Clase 1:</strong> 12-Feb 09:00 / 13:00</p>
                    <p><strong>Clase 2:</strong> 13-Feb 09:00 / 13:00</p>*@
                </div>
            </div>
               
            </div>
        </div>
</div>