
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="font-weight-bold">Reglas</p>
            <ol>
                <li>
                    Solo se dará 10 min. de tolerancia
                </li>
                <li>
                    Los cupos por salón son máximo de 40 personas
                </li>
                <li>
                    La calificación mínima teórica es de 14
                </li>
                <li>
                    La calificación mínima práctica es de 8 puntos
                </li>
                <li>
                    Persona que tenga 1 inasistencia desaprobará el curso automáticamente
                </li>
            </ol>
        </div>
    </div>
</div>