<div class="container-fluid">
 

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Tipo Documento</th>
                <th>Nro. Documento</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.EMPLEADOSINSCRITOS != null)
            {
                foreach (var item in ViewBag.EMPLEADOSINSCRITOS)
                {
                    <tr>
                        <td>@item.NombreCompleto</td>
                        <td>@item.TipoDocumento</td>
                        <td>@item.NroDocumento</td>
                        <td><a><span class="icon-trash"></span></a></td>
                    </tr>
                }

            }
        </tbody>
    </table>
    <div class="paginacion-tabla d-flex justify-content-center">
        <div>
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link" aria-hidden="true">Anterior</span>
                </li>
                <li class="page-item active"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">4</a></li>
                <li class="page-item">
                    <a href="#" class="page-link">
                        <span aria-hidden="true">Siguiente</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

  
</div>
