
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @*<h1>Texto de Lorem</h1>*@
   @* <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam excepturi consequatur sed aliquam blanditiis facere, obcaecati error fuga, recusandae dolorum sit dolorem quasi tempora, eos minima molestiae hic quis, optio deleniti quo quam. Voluptatibus nesciunt provident qui dolores iusto inventore voluptas modi, eos beatae repellendus perspiciatis itaque porro repellat enim iste aspernatur aliquam minima, laborum possimus! In possimus debitis dolores veritatis error sunt excepturi sit commodi consequatur ex aliquid iste molestiae dignissimos vitae pariatur, placeat eligendi rerum libero accusamus doloribus assumenda. Omnis molestiae animi commodi ipsam quasi enim odit quas, eligendi, minus at vero impedit laboriosam atque! Esse corporis eaque quasi temporibus ducimus eum praesentium. Similique, nesciunt sint sequi distinctio aliquid exercitationem vel eius! Cumque hic quam praesentium porro accusantium, consectetur assumenda nesciunt iusto provident sunt illum quo fuga cum corrupti vel velit voluptatum dignissimos minima ducimus? Qui sit assumenda ex libero asperiores! Aperiam dolores assumenda illo aliquid quaerat facilis doloremque et rem quo sint, iusto deleniti voluptates a perferendis nostrum omnis suscipit? Porro eos, maiores ea possimus doloribus magni nobis? Obcaecati voluptas consequuntur dignissimos, commodi placeat esse quo voluptatibus ducimus quia accusantium consequatur facere error et fugit dolor tempora temporibus nam ea a doloribus eligendi laboriosam numquam iusto eos! Beatae ad, laboriosam aliquam cum, odio consequatur nostrum at, adipisci harum, nam illum ex. Facere, quas maiores sunt. Expedita quo praesentium ratione, quidem totam ex, quam iusto vitae, eaque laboriosam nemo ipsam ducimus illum. Architecto labore ipsa totam molestiae itaque, ad ex officia pariatur nam. Totam tenetur qui dignissimos quidem. Maiores autem perferendis labore illo, voluptatem hic nemo excepturi dignissimos aliquam. Repellat facilis sunt necessitatibus accusantium magnam iure, repellendus vitae corporis recusandae, nisi, velit animi et, dolorem eligendi ducimus nostrum? Officiis ad accusantium veritatis aliquam accusamus amet dolorum facilis aspernatur, velit, voluptatum sapiente excepturi! Sequi, cumque maiores nostrum eaque dolores, velit magni, accusamus facilis rem quas atque! Perspiciatis corrupti, magni distinctio maiores? Commodi facere vel odit eveniet quo possimus vitae at saepe laborum ut nesciunt pariatur quos error, explicabo veniam dolore accusantium nulla ducimus iure quaerat voluptatibus amet a! Unde repellat sint aspernatur, non commodi omnis aliquam officiis? Temporibus, vitae nemo minima voluptatum aliquid soluta ad quas commodi nobis fugiat maiores similique esse explicabo fuga dolorum rem sint repudiandae asperiores! Eos debitis doloremque tempora earum incidunt ipsam fugiat explicabo mollitia aliquid placeat veritatis repellat, blanditiis voluptatem sit ex, neque, unde nemo maiores iste nobis enim officia esse eius ducimus dolorum? Ipsa provident ut similique, autem tempore vitae veniam! Nostrum ipsa veritatis accusantium assumenda officiis ipsum labore delectus sapiente recusandae dignissimos minima cumque dolorem, totam cum eum eveniet, deserunt! In aperiam modi fugit optio excepturi minima, dolore accusamus similique dicta voluptatum repudiandae aspernatur, magnam commodi vel tempora ex est! Tempore, quas ut nostrum laborum vitae placeat. Ea repellat ipsum reiciendis, voluptas unde facilis expedita adipisci molestiae architecto vero? Quis enim est nam delectus quisquam, voluptatem, harum, quibusdam non ipsam quo illum similique, doloribus cum eum. Perspiciatis delectus suscipit, tempora officia corporis ex dicta nulla unde excepturi, dolorem animi eius officiis? Adipisci neque delectus repudiandae totam asperiores quisquam at tempore ipsam blanditiis nisi incidunt facere nam, corrupti quam a laudantium, necessitatibus, accusantium nostrum. Dolorem dolore libero optio perspiciatis saepe voluptas expedita, nihil temporibus qui nulla, earum porro a cum animi non totam facilis suscipit necessitatibus. Neque quisquam accusamus natus quae deserunt sit, assumenda eaque saepe non, in perspiciatis inventore hic earum aliquid. Hic odio omnis saepe libero, dolores tempore cum, commodi alias fugiat ducimus debitis neque perferendis temporibus optio suscipit assumenda dolorum numquam animi, provident. Fugiat autem facilis sequi, eligendi ullam? Magnam velit fugit et fuga quo dolore voluptatem optio maiores, laboriosam tempora, dolores? Omnis, nesciunt. Possimus error, commodi nemo necessitatibus molestias accusamus quibusdam distinctio. Dolore, beatae! Est magni blanditiis aspernatur deserunt officiis, in, similique, earum libero deleniti autem dolore cum. Iusto saepe consectetur incidunt doloremque eligendi ullam, rerum quam iste recusandae molestias ut voluptate quia hic atque id necessitatibus repellendus temporibus inventore, fugiat. Et debitis tempora ex ullam, sint minus, totam libero! Magni accusamus, culpa ducimus iste et esse. Enim perferendis minima non, ducimus mollitia sunt nulla veritatis error sapiente dolorem soluta accusantium similique molestias. Esse quia enim in, architecto, illo et autem natus repudiandae, quas explicabo debitis earum ut eaque, officia repellat praesentium nisi cupiditate. Iusto perspiciatis, quidem, debitis quis asperiores quo in earum quod ratione pariatur dolorem animi molestiae voluptas, id sapiente at eos. Amet et nihil quo quos tempora fuga quam veritatis ut sit culpa, suscipit soluta aspernatur earum dolore possimus, error sed iure iste molestiae doloremque placeat reiciendis porro! Eos, et beatae. Alias nemo, aspernatur tempore, culpa esse fugiat voluptatum, </p>*@
    @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam excepturi consequatur sed aliquam blanditiis facere, obcaecati error fuga, recusandae dolorum sit dolorem quasi tempora, eos minima molestiae hic quis, optio deleniti quo quam. Voluptatibus nesciunt provident qui dolores iusto inventore voluptas modi, eos beatae repellendus perspiciatis itaque porro repellat enim iste aspernatur aliquam minima, laborum possimus! In possimus debitis dolores veritatis error sunt excepturi sit commodi consequatur ex aliquid iste molestiae dignissimos vitae pariatur, placeat eligendi rerum libero accusamus doloribus assumenda. Omnis molestiae animi commodi ipsam quasi enim odit quas, eligendi, minus at vero impedit laboriosam atque! Esse corporis eaque quasi temporibus ducimus eum praesentium. Similique, nesciunt sint sequi distinctio aliquid exercitationem vel eius! Cumque hic quam praesentium porro accusantium, consectetur assumenda nesciunt iusto provident sunt illum quo fuga cum corrupti vel velit voluptatum dignissimos minima ducimus? Qui sit assumenda ex libero asperiores! Aperiam dolores assumenda illo aliquid quaerat facilis doloremque et rem quo sint, iusto deleniti voluptates a perferendis nostrum omnis suscipit? Porro eos, maiores ea possimus doloribus magni nobis? Obcaecati voluptas consequuntur dignissimos, commodi placeat esse quo voluptatibus ducimus quia accusantium consequatur facere error et fugit dolor tempora temporibus nam ea a doloribus eligendi laboriosam numquam iusto eos! Beatae ad, laboriosam aliquam cum, odio consequatur nostrum at, adipisci harum, nam illum ex. Facere, quas maiores sunt. Expedita quo praesentium ratione, quidem totam ex, quam iusto vitae, eaque laboriosam nemo ipsam ducimus illum. Architecto labore ipsa totam molestiae itaque, ad ex officia pariatur nam. Totam tenetur qui dignissimos quidem. Maiores autem perferendis labore illo, voluptatem hic nemo excepturi dignissimos aliquam. Repellat facilis sunt necessitatibus accusantium magnam iure, repellendus vitae corporis recusandae, nisi, velit animi et, dolorem eligendi ducimus nostrum? Officiis ad accusantium veritatis aliquam accusamus amet dolorum facilis aspernatur, velit, voluptatum sapiente excepturi! Sequi, cumque maiores nostrum eaque dolores, velit magni, accusamus facilis rem quas atque! Perspiciatis corrupti, magni distinctio maiores? Commodi facere vel odit eveniet quo possimus vitae at saepe laborum ut nesciunt pariatur quos error, explicabo veniam dolore accusantium nulla ducimus iure quaerat voluptatibus amet a! Unde repellat sint aspernatur, non commodi omnis aliquam officiis? Temporibus, vitae nemo minima voluptatum aliquid soluta ad quas commodi nobis fugiat maiores similique esse explicabo fuga dolorum rem sint repudiandae asperiores! Eos debitis doloremque tempora earum incidunt ipsam fugiat explicabo mollitia aliquid placeat veritatis repellat, blanditiis voluptatem sit ex, neque, unde nemo maiores iste nobis enim officia esse eius ducimus dolorum? Ipsa provident ut similique, autem tempore vitae veniam! Nostrum ipsa veritatis accusantium assumenda officiis ipsum labore delectus sapiente recusandae dignissimos minima cumque dolorem, totam cum eum eveniet, deserunt! In aperiam modi fugit optio excepturi minima, dolore accusamus similique dicta voluptatum repudiandae aspernatur, magnam commodi vel tempora ex est! Tempore, quas ut nostrum laborum vitae placeat. Ea repellat ipsum reiciendis, voluptas unde facilis expedita adipisci molestiae architecto vero? Quis enim est nam delectus quisquam, voluptatem, harum, quibusdam non ipsam quo illum similique, doloribus cum eum. Perspiciatis delectus suscipit, tempora officia corporis ex dicta nulla unde excepturi, dolorem animi eius officiis? Adipisci neque delectus repudiandae totam asperiores quisquam at tempore ipsam blanditiis nisi incidunt facere nam, corrupti quam a laudantium, necessitatibus, accusantium nostrum. Dolorem dolore libero optio perspiciatis saepe voluptas expedita, nihil temporibus qui nulla, earum porro a cum animi non totam facilis suscipit necessitatibus. Neque quisquam accusamus natus quae deserunt sit, assumenda eaque saepe non, in perspiciatis inventore hic earum aliquid. Hic odio omnis saepe libero, dolores tempore cum, commodi alias fugiat ducimus debitis neque perferendis temporibus optio suscipit assumenda dolorum numquam animi, provident. Fugiat autem facilis sequi, eligendi ullam? Magnam velit fugit et fuga quo dolore voluptatem optio maiores, laboriosam tempora, dolores? Omnis, nesciunt. Possimus error, commodi nemo necessitatibus molestias accusamus quibusdam distinctio. Dolore, beatae! Est magni blanditiis aspernatur deserunt officiis, in, similique, earum libero deleniti autem dolore cum. Iusto saepe consectetur incidunt doloremque eligendi ullam, rerum quam iste recusandae molestias ut voluptate quia hic atque id necessitatibus repellendus temporibus inventore, fugiat. Et debitis tempora ex ullam, sint minus, totam libero! Magni accusamus, culpa ducimus iste et esse. Enim perferendis minima non, ducimus mollitia sunt nulla veritatis error sapiente dolorem soluta accusantium similique molestias. Esse quia enim in, architecto, illo et autem natus repudiandae, quas explicabo debitis earum ut eaque, officia repellat praesentium nisi cupiditate. Iusto perspiciatis, quidem, debitis quis asperiores quo in earum quod ratione pariatur dolorem animi molestiae voluptas, id sapiente at eos. Amet et nihil quo quos tempora fuga quam veritatis ut sit culpa, suscipit soluta aspernatur earum dolore possimus, error sed iure iste molestiae doloremque placeat reiciendis porro! Eos, et beatae. Alias nemo, aspernatur tempore, culpa esse fugiat voluptatum, iste excepturi assumenda architecto ipsam dolore officiis, saepe nesciunt commodi velit accusamus? Porro vero, nobis itaque natus quaerat velit repellat totam temporibus doloremque cupiditate dolorum quibusdam beatae enim asperiores odit, minima cum! Esse error explicabo doloremque repudiandae voluptate. Quaerat temporibus consequatur quia accusantium omnis consectetur error fugiat est sed quae itaque velit sint reiciendis placeat officiis, ullam, voluptatem, voluptatum expedita odio. Odio eius labore voluptatibus pariatur omnis officiis, sequi maiores non dolor adipisci enim dignissimos ab quas accusamus aliquid esse consequuntur itaque, explicabo! Saepe laboriosam sint aperiam recusandae iure nisi, ad alias ex culpa earum necessitatibus vel minus, quis cum modi, neque fugit, est repellat! Voluptatum adipisci, voluptas necessitatibus a assumenda. Tempora sint, nam blanditiis suscipit reprehenderit rerum, accusamus deleniti et, praesentium porro eius! Quo, dolore magni ex pariatur praesentium ut inventore, dolorum omnis natus quasi similique ab commodi incidunt non eum odit eveniet iusto, voluptatem nostrum harum amet consequatur ullam! Praesentium similique beatae excepturi animi blanditiis error esse, laudantium consequuntur explicabo voluptatibus, distinctio amet fuga. Libero, recusandae molestiae repudiandae. Eum sequi facilis, beatae tenetur aliquid dolores nemo vitae provident iste veniam numquam nisi maiores vero tempore, temporibus suscipit autem nihil earum possimus natus saepe asperiores. Quo corporis sapiente rem nesciunt, atque ratione accusamus, voluptatum quam recusandae minus a sit, dolorem voluptatibus tempora officiis et iste? Placeat mollitia aliquid rem eum tempore. Reiciendis rem, voluptate architecto aperiam ipsum nemo ipsa deserunt alias! Voluptatum a delectus, non laborum!</p>*@

    <div class="acceso-rapido">
        <div class="boton">
            <div class="boton-titulo"><a href="@Url.Content("~/Empleado/Agenda")">Registrar Empleado</a></div>
            <div class="boton-icono"><i class="icon-users"></i></div>            
        </div>
        <div class="boton">
            <div class="boton-titulo"><a href="@Url.Content("~/Evento/BandejaEvento")">Programar Evento</a></div>
            <div class="boton-icono"><i class="icon-calendar"></i></div>
        </div>
        <div class="boton">
            <div class="boton-titulo"><a href="@Url.Content("~/ReporteMultiple")">Reportes Estadísticos</a></div>
            <div class="boton-icono"><i class="icon-chart-bar"></i></div>
        </div>
        <div class="boton">
            <div class="boton-titulo"><a href="@Url.Content("~/ReporteAcademico")">Reporte Académico</a></div>
            <div class="boton-icono"><i class="icon-book-open"></i></div>
        </div>
    </div>

    @*<div class="busqueda-empleado">
        <div class="row">
            <div class="col">
                <form action="/" method="post" class="form-inline mb-3">        
                    <input type="text" class="form-control mr-3" name="nombres" id="nombres" value="" placeholder="Ingresar Nombres" />
                    <input type="text" class="form-control mr-3" name="dni" id="dni" value="" placeholder="Ingresar DNI" />
                    <input type="submit" name="name" value="Buscar" class="btn btn-success" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre Completo</th>
                            <th>DNI</th>
                            <th>Edad</th>
                            <th>Empresa Cliente</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="click-registro-prueba">
                            <td>Alejandro Gutierrez Saman</td>
                            <td>42542512</td>
                            <td>33</td>
                            <td>Barrick</td>
                            <td><a><span class="icon-eye"></span></a></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table subtable table-striped table-hover mostrar-tabla">
                    <thead>
                        <tr>
                            <th>Capacitación</th>
                            <th>Nota</th>
                            <th>Capacitador</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Peligros con estantes</td>
                            <td>19</td>
                            <td>Alejandro Vargas</td>
                            <td>Aprobado</td>
                        </tr>
                        <tr>
                            <td>Peligros con estantes</td>
                            <td>15</td>
                            <td>Alejandro Vargas</td>
                            <td>Aprobado</td>
                        </tr>
                        <tr>
                            <td>Peligros con estantes</td>
                            <td>15</td>
                            <td>Alejandro Vargas</td>
                            <td>Aprobado</td>
                        </tr>
                        <tr>
                            <td>Peligros con estantes</td>
                            <td>18</td>
                            <td>Alejandro Vargas</td>
                            <td>Aprobado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@
</div>