
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notauthorized</title>
</head>
<body>
    <div>
        no está registrado
        <a href="@Url.Content("~/ingresar")" class="btn btn-primary btn-md"> <i class="fa fa-google"></i> Ingresar</a>
    </div>
</body>
</html>
