@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>BackOffice - Registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/estilos.css")" rel="stylesheet" type="text/css" />
</head>
<body class="login-page">
    <div class="container">
        <div class="row">
            <div class="col absolute-center is-responsive">
                <div class="row justify-content-center">
                    <img class="tamanio-logo" src="@Url.Content("~/Content/img/logoLogin.png")" />
                </div>
                <div class="IniciarSesion text-center">
                    Registro
                </div>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <form action="Generals/VerifyRegister" method="post" class="formulario-login">
                            <div class="form-group">
                                <label for="usuario">DNI *</label>
                                <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Ingrese su DNI" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Correo *</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su correo" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Cargo *</label>
                                <input type="text" name="cargo" id="cargo" class="form-control" placeholder="Ingrese su cargo" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Teléfono</label>
                                <input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Ingrese su teléfono" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Contraseña *</label>
                                <input type="password" name="pass" id="pass" class="form-control" placeholder="Ingrese su contraseña" />
                            </div>
                            <div class="form-group">
                                <label for="usuario">Repetir Contraseña *</label>
                                <input type="password" name="repass" id="repass" class="form-control" placeholder="Repita su contraseña" />
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" name="terminos" id="terminos" class="form-check-input" />Aceptar Términos y Condiciones *
                                </label>
                            </div>
                            @{ 
                                if(ViewBag.Message != null)
                                {
                                    <div style="color:red;">@ViewBag.Message</div>
                                }
                            }
                            <div class="form-group mt-2">
                                <input type="submit" id="enviar" name="enviar" value="Registrar" class="btn btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>